<settings>
<category label="Basic">
<setting type="lsep" label="Movies Only So Far"/>

<setting type="lsep" label="%I imdb id, %Y year, %T title"/>
<setting id="movie.library.url" label="Custom Movie Url" type="bool" default="false" />
<setting id="movie.library" label="Movie Url" type="text" enable="eq(-1,true)" default="plugin://plugin.video.*/?action=play&amp;imdb=%I&amp;year=%Y&amp;title=%T" />
<!--
<setting type="lsep" label="%W tv show, %S season, %E episode, %V tvdb id"/>
<setting id="tv.library.url" label="Custom TV Library Url" type="bool" default="false" />
<setting id="tv.library" label="TV Library Url" type="text" enable="eq(-1,true)" default="plugin://plugin.video.*/?action=play&amp;imdb=%I&amp;year=%Y&amp;tvshowtitle=%W&amp;season=%S&amp;episode=%E&amp;tvdb=%V&amp;title=%T" />
-->
<setting type="sep"/>
<setting id="catchup.plugin" label="Catchup Addon Id (Meta|MetalliQ)" type="text" default="plugin.video.meta" />
<setting type="sep"/>
<setting id="english" label="English Titles" type="bool" default="false" />
<setting id="people.sort" label="People Sort Order" type="select" default="starmeter,asc" values="starmeter,asc|starmeter,desc|alpha,asc|alpha,desc|height,asc|height,desc|birth_date,asc|birth_date,desc|death_date,asc|death_date,desc|my_ratings|my_ratings,asc" />
<setting type="sep"/>
<setting id="enhance" label="Image Quality" type="enum" default="2" values="Worst|Better|Best" />
<setting type="sep"/>
<setting id="export" label="Show Import/Export Menu" type="bool" default="false" />
<setting type="sep"/>
<setting label="View Mode ID" type="number" id="view" default="50"/>
<setting label="Enable Trakt" type="bool" id="trakt" default="true"/>
</category>
<category label="Automation">

<setting type="sep"/>
<setting id="search.pages" label="Max Search Pages" type="number"  default="1"/>
<!--
<setting id="tv_past" label="TV Show Add Period" type="enum" values="Forever|Year|Month|Week" />
<setting id="specials" label="Include Special Episodes" type="bool" default="false" />
<setting id="duplicates" label="Allow Adding Duplicates to Library" type="bool" default="true" />
-->
<setting type="lsep" label="Automatic Updates"/>
<setting id="login.update" label="Update On Login" type="bool"  default="false"/>
<setting id="service.type" label="Service Schedule Type" type="enum" default="None" values="None|Period|Time" />
<setting id="service.interval" label="Service Period (hours)" type="number" default="24" visible="eq(-1,1)" />
<setting id="service.time" type="time" label="Service Time" default="03:33" visible="eq(-2,2)"/>
<!--
<setting id="update.tv" label="TV Shows" type="bool"  default="false"/>
-->
<setting id="update.main" label="Update Kodi Library After Update" type="bool"  default="false"/>
<setting id="update.clean" label="Clean Kodi Library After Update" type="bool"  default="false"/>
<setting id="service_time" type="text" label="Service Time" default="2000-01-01 00:00:00" visible="false"/>
</category>
<category label="SickRage" >
<setting type="lsep" label="SickRage"/>
<setting id="SickRage IP" type="text" label="Server IP or Host" default="" visible="!System.HasAddon(plugin.video.sickrage)"/>
<setting id="SickRage Port" type="number" label="Server Port" default="" visible="!System.HasAddon(plugin.video.sickrage)"/>
<setting id="Use SSL" type="bool" label="Use SSL" default="false" visible="!System.HasAddon(plugin.video.sickrage)"/>
<setting id="ServerType" type="select" label="Server Type" values="SickRage|SickBeard" default="SickRage" visible="!System.HasAddon(plugin.video.sickrage)"/>
<setting label="Username / Password can be used to auto retrieve API key:" type="lsep" visible="!System.HasAddon(plugin.video.sickrage)"/>
<setting id="SickRage Username" type="text" label="Username" default="" visible="!System.HasAddon(plugin.video.sickrage)"/>
<setting id="SickRage Password" type="text" label="Password" default="" visible="!System.HasAddon(plugin.video.sickrage)"/>
<setting label="OR manually type or Copy/Paste API key:" type="lsep" visible="!System.HasAddon(plugin.video.sickrage)"/>
<setting id="SickRage API Key" type="text" label="API Key" default="" visible="!System.HasAddon(plugin.video.sickrage)"/>
<setting id="HistoryMax" type="slider" label="History List Length" default="16" range="4,1,50" option="int" visible="!System.HasAddon(plugin.video.sickrage)"/>
<setting id="ShowLog" type="bool" label="Show Log File Option in Main Menu" default="false" visible="!System.HasAddon(plugin.video.sickrage)"/>
<setting id="ShowClearCache" type="bool" label="Show Clear Image Cache Option in Main Menu" default="false" visible="!System.HasAddon(plugin.video.sickrage)"/>
</category>

</settings>